<div><label>Name</label> {{ .Name }}</div>
<div><label>NetworkInterfaceId</label> {{ .NetworkInterfaceId }}</div>
<div><label>Description</label> {{ .Description }}</div>
<div><label>Status</label> {{ .Status }}</div>
<div><label>AvailabilityZone</label> {{ .AvailabilityZone }}</div>
<div><label>Association</label> {{ .Association }}</div>
<div><label>Attachment</label> {{ .Attachment }}</div>
<div><label>Groups</label> {{ .Groups }}</div>
<div><label>MacAddress</label> {{ .MacAddress }}</div>
<div><label>OwnerId</label> {{ .OwnerId }}</div>
<div><label>PrivateDnsName</label> {{ .PrivateDnsName }}</div>
<div><label>PrivateIpAddress</label> {{ .PrivateIpAddress }}</div>
<div><label>PrivateIpAddresses</label> {{ .PrivateIpAddresses }}</div>
<div><label>RequesterId</label> {{ .RequesterId }}</div>
<div><label>RequesterManaged</label> {{ .RequesterManaged }}</div>
<div><label>SourceDestCheck</label> {{ .SourceDestCheck }}</div>
<div><label>SubnetId</label> {{ .SubnetId }}</div>
<div><label>TagSet</label> {{ .TagSet }}</div>
<div><label>VpcId</label> {{ .VpcId }}</div>

<!-- 	VPC            *VPC
SecurityGroups []*SecurityGroup
-->
